certifi==2019.6.16
chardet==3.0.4
Django==2.2.13
django-bootstrap-breadcrumbs==0.9.1
django-bootstrap4==0.0.8
django-class-based-auth-views==0.4
django-datatables-view==1.17.0
django-pure-pagination==0.3.0
django-registration-redux==2.6
django-webpack-loader==0.6.0
djangorestframework==3.9.1
idna==2.8
numpy==1.16.4
pandas==0.24.2
pika==0.13.1
pkg-resources==0.0.0
psycopg2-binary==2.8.2
python-dateutil==2.8.0
pytz==2018.9
requests==2.22.0
six==1.12.0
sqlparse==0.2.4
urllib3==1.25.3
