{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}アクティベーション完了{% endblock %}
{% block content %}
    <div class="row">
        <div id="registration">
            <div class="col-md-12">
                <h4>
                    お疲れ様でした。登録は完了しました。以下のボタンからログインしてください。
                </h4>
                <input type='button' class="btn btn-primary" value="ログインする" onClick="location.href='{% url 'login' %}'"/>
            </div>
        </div>
    </div>
{% endblock %}


