{% extends "registration/registration_base.html" %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap4 %}

{% block title %}パスワードリセット{% endblock %}

{% block content %}
    {# パンくず作成 #}
    {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "IRRICドラレコAI認識" "" %}
        {% breadcrumb "パスワード再設定" "" %}
    {% endblock %}

    <div class="container" style="height: 100%;">
        <div class="row">
            {# 各ページでセットされたパンくずをレンダリングする #}
            {% render_breadcrumbs %}
        </div>

        <div id="registration">
            <div class="row">
                <div class="col-12" style="margin-bottom: 10px;">
                    <h6>パスワード再設定</h6>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <ul>
                    <div class="col-12" style="margin-bottom: 20px;">
                        登録頂いているログインID（メールアドレス宛）に、パスワード再設定のご案内をお送りします。
                    </div>
                    <div class="col-12">
                        <form method='post' action=''>
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div style="margin: 5px 5px 20px 5px">※「@xxx.xxx.co.jp」からのメール受信をできる様に設定してください。</div>
                            <input type='submit' class="btn btn-dark" value="パスワードを再設定する"/>&nbsp;&nbsp;
                            <input type='button' class="btn btn-dark" value="ログインページへ戻る"
                                   onClick="location.href='{% url 'login' %}'"/>
                        </form>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-bottom: 10px;">
                <h6>ログインIDがわからない場合</h6>
            </div>
        </div>
        <div class="row">
            <ul>
                <div class="col-12">
                    お手数ですが以下の電話番号へご連絡ください。
                    <br>
                    <ul>
                        ***サポートデスク<br>
                        xxxx-xx-xxxx<br>
                        ※受付時間: XXXXXXXXXX
                    </ul>
                </div>
            </ul>
        </div>
    </div>
{% endblock %}
