{% extends "registration/registration_base.html" %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap4 %}

{% block title %}パスワードのリセット{% endblock %}
{% block content %}
    {# パンくず作成 #}
    {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "IRRICドラレコAI認識" "" %}
        {% breadcrumb "パスワード再設定" "" %}
    {% endblock %}

    <div class="container" style="height: 100%;">
        <div class="row">
            {# 各ページでセットされたパンくずをレンダリングする #}
            {% render_breadcrumbs %}
        </div>

        <div id="registration">
            <div class="row">
                <div class="col-12">
                    パスワードをリセットするためのリンクを記載したメールを送信しました。メールをチェックし、リンクをクリックしてください。
                    <br>
                    <br>
                    <input type='button' class="btn btn-dark" value="ログインページへ戻る" onClick="location.href='{% url 'login' %}'"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
