<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript" charset="UTF-8">
    <!--//
    $(document).ready(function () {
        // DataTablesのデフォルトの設定を変更
        $.extend($.fn.dataTable.defaults, {
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Japanese.json"
            }
        });
        /**
         * フォームをJSONに変換するfuntionを追加
         * @param o 追加元のJsonオブジェクト
         * @returns {*}
         */
        $.fn.serializeFormJSON = function (o) {

            //var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    });

    /**
     * dialog表示/非表示
     */
    function show_dialog() {
       $("#seeking_dialog").modal("show");
    }
    function hide_dialog() {
       $("#seeking_dialog").modal("hide");
    }

    function show_analy_dialog() {
       $("#analysis_dialog").modal("show");
    }
    function hide_analy_dialog() {
       $("#analysis_dialog").modal("hide");
    }

    //-->
</script>
