{% extends 'admin/index_base.html' %}
{% load static from staticfiles %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}

{% block add_css %}
    {# テーブルページの共通CSS #}
    {% include 'layouts/table_page.css.html' %}
{% endblock %}

{% block js_script %}
    {# テーブルページの共通JS #}
    {% include 'layouts/table_page.js.html' %}

    <script type="text/javascript" charset="UTF-8">
        <!--//
        var table;

        $(document).ready(function () {
            //-------------------------------------
            // load list
            //-------------------------------------
            table = $('#list-table').DataTable({
                scrollX: false,
                stateSave: true,
                serverSide: true,
                "dom": "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-4'i><'col-sm-12 col-md-6'p>>",
                rowId: 'dataId',
                // page related
                "order": [[1, "desc"]],
                // page related
                "columns": [
                    {"data": "checkbox_contents", "searchable": false, orderable: false},
                    {"data": "username", "searchable": false},
                    {"data": "name"},
                    {"data": "status", orderable: false},
                    {"data": "service_pattern"},
                    {"data": "contract_due_date"},
                    {"data": "business_type"},
                    {"data": "main_consultant_name"},
                    {"data": "driver_count"},
                    {"data": "upload_video_count"},
                    {"data": "diagnosis_date"},
                ],
                ajax: {
                    // page related
                    "url": "{% url "admin_contract_company_list" %}",
                    "type": "POST",
                    "data": function (d) {
                        return table_condition(d);
                    }
                }
            });

            //-------------------------------------
            // イベントセット
            //-------------------------------------

            /**
             * 検索フォームのイベントセット
             */
            // page related
            $('#search_form').submit(function (e) {
                // 左ツリーの検索条件をクリアする（これしないとこちらが優先になる）
                $('#search_type').val('');
                // テーブル再読込
                table.ajax.reload();
                return false;
            });

            /**
             * 左ツリーからの検索ボタンのイベントセット
             * data-valの値をチェックして検索実行
             */
            // page related
            $('.treeview').on('click', '.list-group-item', function () {
                var no = $(this).data('val');
                $('#search_type').val(no);
                table.ajax.reload();
                // 検索フォームリセット
                document.search_form.reset();
                return false;
            });

        });

        //-------------------------------------
        // テーブルリストの取得条件を切り替える
        //-------------------------------------
        // page related
        function table_condition(d) {
            if ($('#search_type').val() !== '') {
                return $('#search_type_form').serializeFormJSON(d);
            } else {
                return $('#search_form').serializeFormJSON(d);
            }
        }

        /**
         * パスワードリセットアクション
         */
        // page related
        function password_reset() {
            var arr = [];
            $('#list-table tbody td input').each(function (i, elem) {
                if ($(this).prop('checked')) {
                    arr.push("selected=" + $(this).val());
                }
            });

            if (arr.length === 0) {
                alert("選択してください。");
                return false;
            }

            if (!confirm('パスワードリセットをしてもいいですか？')) {
                return false;
            }

            var data = arr.join('&');
            data += "&csrfmiddlewaretoken=" + $("input[name='csrfmiddlewaretoken']").val();
            $.ajax({
                url: '{% url 'admin_password_reset' %}',
                type: 'POST',
                cache: false,
                data: data,
                dataType: "json",
                success: function (json) {
                    alert("パスワードをリセットしました");
                    table.ajax.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Failed to read content.");
                }
            });

            return false;
        }

        /**
         * アカウント操作アクション
         */
        // page related
        function action_account(cmd) {
            var arr = [];
            $('#list-table tbody td input').each(function(i, elem) {
                if ($(this).prop('checked')) {
                    arr.push("selected=" + $(this).val());
                }
            });

            if (arr.length === 0) {
                alert("選択してください。");
                return false;
            }

            if (cmd === "inactive") {
                if (!confirm('利用停止にしてもいいですか？')) {
                    return false;
                }
            } else if (cmd === "active") {
                if (!confirm('利用再開してもいいですか？')) {
                    return false;
                }
            } else if (cmd === "delete") {
                if (!confirm('削除してもいいですか？')) {
                    return false;
                }
            }

            var data = arr.join('&');
            data += "&csrfmiddlewaretoken=" + $("input[name='csrfmiddlewaretoken']").val();
            data += "&cmd=" + cmd;
            $.ajax({
                url: '{% url 'admin_contractcompany_ctrl' %}',
                type: 'POST',
                cache: false,
                data: data,
                dataType: "json",
                success: function (json) {
                    if (json.result === 1) {
                        if (cmd === "inactive") {
                            if (!confirm('利用停止にしました。')) {
                                return false;
                            }
                        } else if (cmd === "active") {
                            if (!confirm('利用再開にしました。')) {
                                return false;
                            }
                        } else if (cmd === "delete") {
                            if (!confirm('削除しました。')) {
                                return false;
                            }
                        }
                    }
                    table.ajax.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Failed to read content.");
                }
            });

            return false;
        }
        //-->
    </script>
{% endblock %}

{% block category_title %}
{% endblock %}

{% block content %}
    {# パンくず作成 #}
    {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "IRRICドラレコAI認識" "" %}
        {% breadcrumb "管理機能" "" %}
        {% breadcrumb "契約会社管理" "" %}
    {% endblock %}

    <div class="container">
        <div class="row">
            {# 各ページでセットされたパンくずをレンダリングする #}
            {% render_breadcrumbs %}
        </div>

        <div class="card">
            <div class="card-header">
                <form class="form-inline" name="search_form" id="search_form" accept-charset="UTF-8">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-2">
                            <label for="id_contract_id">契約会社ID</label>
                            <input type="text" name="s_contract_id" class="form-control use_icon" placeholder="&#xf002; 契約会社ID" id="id_contract_id">
                        </div>
                        <div class="form-group mb-2">
                            <label for="id_company_name">契約会社名</label>
                            <input type="text" name="s_company_name" class="form-control use_icon" placeholder="&#xf002; 契約会社名" id="id_company_name">
                        </div>
                        <div class="form-group mb-2">
                            <label for="id_company_consultant_name">担当コンサルタント名</label>
                            <input type="text" name="s_company_consultant_name" class="form-control use_icon" placeholder="&#xf002; 担当コンサルタント名" id="id_company_consultant_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-2" style="margin-right: 0;">
                            <label>サービスパターン：</label>
                        </div>
                        {% for si in service_infos %}
                        <div class="form-group mb-2">
                            <label for="id_service_pattern_{{ si.id }}">{{ si.service_name }}</label>
                            <input type="checkbox" value="{{ si.id }}" name="s_service_pattern[]" class="form-control check" id="id_service_pattern_{{ si.id }}">
                        </div>
                        {% endfor %}
                        <div class="form-group mb-2" style="margin-right: 0;">
                            <label>事業種別：</label>
                        </div>
                        {% for bt in business_types %}
                        <div class="form-group mb-2">
                            <label for="id_business_type_{{ bt.id }}">{{ bt.type_name }}</label>
                            <input type="checkbox" value="{{ bt.id }}" name="s_business_type[]" class="form-control check"
                                   id="id_service_type_truck">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="form-group mb-2">
                            <label>契約期間：</label>
                            <input type="date" name="s_contract_start_date" class="form-control" placeholder="開始日" id="id_contract_start_date">
                            &nbsp;&nbsp;&nbsp;〜
                        </div>
                        <div class="form-group mb-2">
                            <input type="date" name="s_contract_end_date" class="form-control" placeholder="終了日" id="id_contract_end_date">
                        </div>

                        <button type="submit" class="btn btn-sm btn-dark mb-2">検索</button>
                    </div>
                </form>
            </div>

            <div class="card-body row">
                <div class="col-2-auto border">
                    {% include 'admin/contract_company/tree.html' %}
                </div>

                <div class="col">
                    {% include 'admin/contract_company/table.html' %}
                </div>
            </div>

            <div class="card-footer row">
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-dark" onclick="return false;">新規登録</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-dark" onclick="return false;">一括登録</button>
                </div>
                <div class="col-auto border">
                    <label for="id_service_type_taxi">IRRICユーザーID</label>
                    <input type="text" class="" id="id_service_type_taxi">
                    ------
                    <button type="button" class="btn btn-sm btn-dark" onclick="return false;">編集権限付与</button>
                    <button type="button" class="btn btn-sm btn-dark" onclick="return false;">編集権限削除</button>
                </div>
                <div class="col-2 text-right">
                    <button type="button" class="btn btn-sm btn-dark" onclick="return action_account('inactive');">利用停止</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-dark" onclick="return action_account('active');">利用再開</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-dark" onclick="return action_account('delete');">&nbsp;削除&nbsp;</button>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
