/**
    CARDを使ったページ用CSS
 */
div.card {
    font-size: 90% !important;
}

div.card-header {
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 0;
}

div.card-header input[type="text"] {
    font-size: 14px;
    width: 200px;
}
div.card-header select {
    font-size: 14px;
}
div.card-header label {
    margin-right: 5px;
}
div.card-header .form-group {
    margin-right: 15px;
}
div.card-header input[type="date"] {
    font-size: 12px;
    width: 150px;
}


div.card-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.card-footer {
    border-color: transparent;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 15px;
}

form {
    padding-top: 5px;
}
