{% extends 'user/index_base.html' %}
{% load static from staticfiles %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}

{% block add_css %}
    {# テーブルページの共通CSS #}
    {% include 'layouts/table_page.css.html' %}
{% endblock %}

{% block js_script %}
    {# テーブルページの共通JS #}
    {% include 'layouts/table_page.js.html' %}

    <script type="text/javascript" charset="UTF-8">
        <!--//
        var table;

        $(document).ready(function () {
            //-------------------------------------
            // load list
            //-------------------------------------
            table = $('#list-table').DataTable({
                scrollX: false,
                stateSave: true,
                serverSide: true,
                "dom": "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-4'i><'col-sm-12 col-md-6'p>>",
                rowId: 'dataId',
                // page related
                "order": [[1, "desc"]],
                // page related
                "columns": [
                    { "data": "checkbox_contents", "searchable": false, orderable: false },
                    { "data": "username", "searchable": false },
                    { "data": "status", orderable: false },
                    { "data": "name" },
                    { "data": "gender" },
                    { "data": "birthday" },
                    { "data": "age" },
                    { "data": "recruit_date" },
                    { "data": "history_driving", orderable: false },
                    { "data": "last_login" },
                ],
                ajax: {
                    // page related
                    "url": "{% url "user_company_user_list" %}",
                    "type": "POST",
                    "data": function (d) {
                        return table_condition(d);
                    }
                }
            });

            //-------------------------------------
            // イベントセット
            //-------------------------------------

            /**
             * 検索フォームのイベントセット
             */
            // page related
            $('#search_form').submit(function (e) {
                // 左ツリーの検索条件をクリアする（これしないとこちらが優先になる）
                $('#search_type').val('');
                // テーブル再読込
                table.ajax.reload();
                return false;
            });

            /**
             * 左ツリーからの検索ボタンのイベントセット
             * data-valの値をチェックして検索実行
            */
            // page related
            $('.treeview').on('click', '.list-group-item', function () {
                var no = $(this).data('val');
                $('#search_type').val(no);
                table.ajax.reload();
                // 検索フォームリセット
                document.search_form.reset();
                return false;
            });

        });

        //-------------------------------------
        // テーブルリストの取得条件を切り替える
        //-------------------------------------
        // page related
        function table_condition(d) {
            if ($('#search_type').val() !== '') {
                return $('#search_type_form').serializeFormJSON(d);
            } else {
                return $('#search_form').serializeFormJSON(d);
            }
        }
        //-->
    </script>
{% endblock %}

{% block category_title %}
{% endblock %}

{% block content %}
    {# パンくず作成 #}
    {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "契約会社ポータル" "" %}
        {% breadcrumb "管理機能" "" %}
        {% breadcrumb "ドライバー管理" "" %}
    {% endblock %}

    <div class="container">
        <div class="row">
            {# 各ページでセットされたパンくずをレンダリングする #}
            {% render_breadcrumbs %}
        </div>

        <div class="card">
            <div class="card-header">
                <form class="form-inline" name="search_form" id="search_form" accept-charset="UTF-8">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="id_login_id">ログインID</label>
                        <input type="text" name="search_login_id" class="form-control use_icon" placeholder="&#xf002; ログインID" id="id_login_id">
                    </div>
                    <div class="form-group mb-2">
                        <label for="id_name">氏名</label>
                        <input type="text" name="search_name" class="form-control use_icon" placeholder="&#xf002; 氏名" id="id_name">
                    </div>

                    <button type="submit" class="btn btn-sm btn-dark mb-2">検索</button>
                </form>
            </div>

            <div class="card-body row">
                <div class="col-2-auto border">
                    {% include 'user/companyuser/tree.html' %}
                </div>

                <div class="col">
                    {% include 'user/companyuser/table.html' %}
                </div>
            </div>

            <div class="card-footer row">
                <div class="col-auto"><button type="button" class="btn btn-sm btn-dark" onclick="return false;">新規登録</button></div>
                <div class="col text-right"><button type="button" class="btn btn-sm btn-dark" onclick="return false;">利用停止</button></div>
                <div class="col-auto"><button type="button" class="btn btn-sm btn-dark" onclick="return false;">利用再開</button></div>
                <div class="col-auto"><button type="button" class="btn btn-sm btn-dark" onclick="return false;">&nbsp;削除&nbsp;</button></div>

            </div>
        </div>

    </div>

{% endblock %}
