<table id="list-table" class="table table-striped table-condensed table-bordered table-hover small" style="width:100%">
    <thead>
    <tr>
        <th style="width: 5%" class="text-center text-nowrap">
        </th>
        <th class="text-center text-nowrap">
            No
        </th>
        <th class="text-center text-nowrap">
            登録者
        </th>
        <th class="text-center text-nowrap">
            重要度
        </th>
        <th class="text-center text-nowrap">
            公開期間
        </th>
        <th class="text-center text-nowrap">
            お知らせ対象
        </th>
        <th class="text-center text-nowrap">
            メール送信
        </th>
        <th class="text-center text-nowrap">
            タイトル
        </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>