<table id="list-table" class="table table-striped table-condensed table-bordered table-hover small" style="width:100%">
    <thead>
    <tr>
        <th style="width: 5%" class="text-center text-nowrap" rowspan="2">
        </th>
        <th class="text-center text-nowrap" rowspan="2">
            氏名 (ドライバーID)
        </th>
        <th class="text-center text-nowrap" rowspan="2">
            選択
        </th>
        <th class="text-center text-nowrap" rowspan="2">
            動画プレビュー
        </th>
        <th class="text-center text-nowrap" rowspan="2">
            運転日<br>
            長さ<br>
            ファイル名
        </th>
        <th class="text-center text-nowrap" rowspan="2">
            分析状況
        </th>
        <th class="text-center text-nowrap" rowspan="2">
            保存
        </th>
        <!--th class="text-center text-nowrap" colspan="4"-->
        <th class="text-center text-nowrap" colspan="3">
            法令遵守
        </th>
        <th class="text-center text-nowrap">
            運転操作
        </th>
        <!--th class="text-center text-nowrap" colspan="2">
            その他
        </th-->
    </tr>
    <tr>
        <th class="text-center text-nowrap">
            信号
        </th>
        <th class="text-center text-nowrap">
            一時停止
        </th>
        <th class="text-center text-nowrap">
            速度
        </th>
        <!--th class="text-center text-nowrap">
            その他
        </th-->
        <th class="text-center text-nowrap">
            急加減速
        </th>
        <!--th class="text-center text-nowrap">
            急ハンドル
        </th>
        <th class="text-center text-nowrap">
            運転のくせ
        </th-->
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
