{% extends 'user/index_base.html' %}
{% load static from staticfiles %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}

{% block add_css %}
    {# テーブルページの共通CSS #}
    {% include 'layouts/table_page.css.html' %}
    {# CARDページの共通CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/card_page.css' %}">

    <style>
        .card {
            border: 0;
        }
        .card-footer {
            margin-top: 10px;
        }
    </style>

{% endblock %}

{% block js_script %}
    {% include 'layouts/table_page.js.html' %}

    <script type="text/javascript" charset="UTF-8">
        <!--//
        var table;
        var original_video, labeled_video;

        $(document).ready(function () {
            /*
            //-------------------------------------
            // make tree
            //-------------------------------------
            tree = simTree({
                el: '#tree',
                linkParent: true,
                check: true,
                data: function (obj, callback) {
                    {% comment %}
                    // inter-preview
                    set_init_tree();
                    {% endcomment %}
                    $.get('/api/movie/get/analysis/{{ movie.id }}/', function (ret) {
                        console.log(ret);
                        set_init_tree();
                        if (ret["results"].length === 0) {
                            console.log("result return");
                            return;
                        }
                        var data = ret['results'][0]['data'];
                        var new_data = [];
                        for (var i = 0; i < data.length; i++) {
                            var grp_name = data[i]['group'];
                            var cate_name = data[i]['category'];
                            var violations = data[i]['violations'];
                            if (violations.length === 0) {
                                continue;
                            }
                            if (new_data.indexOf(grp_name) === -1) {
                                new_data[grp_name] = []
                            }
                            carr = {"name": cate_name, "data": violations};
                            new_data[grp_name].push(carr)
                        }
                        if (Object.keys(new_data).length === 0) {
                            console.log("new_data return");
                            return;
                        }
                        var c = 1;
                        for (var grp_key in new_data) {
                            var g_item = {
                                "id": c * 10,
                                "pid": 1, // parent ID
                                "name": grp_key,
                                "open": true
                            };
                            analysis_list.push(g_item);
                            c++;
                            for (var i = 0; i < new_data[grp_key].length; i++) {
                                var c_item = {
                                    "id": (100 * c) + i,
                                    "pid": g_item['id'], // parent ID
                                    "name": new_data[grp_key][i]["name"],
                                    "open": true
                                };
                                analysis_list.push(c_item);
                                for (j = 0; j < new_data[grp_key][i]["data"].length; j++) {
                                    var s = new_data[grp_key][i]["data"][j]["start_fno"] / 27.0;
                                    var e = new_data[grp_key][i]["data"][j]["last_fno"] / 27.0;
                                    var d = new Date("{{ creation_date }}"); //.toLocaleString('ja-JP');
                                    d.setSeconds(d.getSeconds() + s);
                                    var d_item = {
                                        "id": c_item['id'] + (j + 1),
                                        "pid": c_item['id'], // parent ID
                                        "name": d.toLocaleString('ja-JP'),
                                        "open": true,
                                        "data": [{"s": s, "e": e}]
                                    };
                                    analysis_list.push(d_item);
                                }
                            }
                        }
                        //console.log(analysis_list);
                        callback(analysis_list);
                    });
                    {% comment %}
                    // inter-preview
                    callback(analysis_list);
                    {% endcomment %}
                },
                //data: analysis_list,
                onClick: function (item) {
                    //console.log(item)
                },
                onChange: function (item) {
                    //console.log(item)
                }
            });
            */

            table = $('#list-table').DataTable({
                scrollX: false,
                //stateSave: true,
                serverSide: true,
                searching: false,
                //"dom": "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-4'><'col-sm-12 col-md-6'p>>",
                rowId: 'dataId',
                // page related
                //"order": [[1, "desc"]],
                // page related
                "columns": [
                    {"data": "group"},
                    {"data": "category"},
                    {"data": "start_fno",
                        render: function(data, type, row, meta) {
                            var s = data / 27.0;
                            var d = new Date("{{ creation_date }}"); //.toLocaleString('ja-JP');
                            d.setSeconds(d.getSeconds() + s);
                            return d.toLocaleString('ja-JP')
                        }
                    },
                ],
                ajax: "{% url 'user_analysis_result_list_url' %}" + "{{ movie.id }}/"
                    /*"data": function (d) {
                        return table_condition(d);
                    }*/
                //}
            });

            original_video = document.getElementById('original_video');
            labeled_video = document.getElementById('labeled_video');
        });


        var callback_original_id;
        var callback_labeled_id;
        var original_time_tables;
        var labeled_time_tables;
        var original_cur_no = 0;
        var labeled_cur_no = 0;

        function play_original_video() {
            var selected = tree.getSelected();
            if (selected.length === 0) {
                alert("不安全運転の項目を選択しください。");
                return;
            }

            original_time_tables = [];
            for (var i = 0; i < selected.length; i++) {
                if (selected[i]["data"] !== undefined && selected[i]["data"] !== "") {
                    original_time_tables = original_time_tables.concat(selected[i]["data"]);
                }
            }

            original_video.currentTime = original_time_tables[original_cur_no]["s"];
            original_video.play();
            callback_original_id = requestAnimationFrame(check_play_original_video) ;
        }

        function check_play_original_video() {
            if (original_video.currentTime >= original_time_tables[original_cur_no]["e"]) {
                original_video.pause();
                original_cur_no++;
                if (original_cur_no >= original_time_tables.length) {
                    cancelAnimationFrame(callback_original_id);
                    original_cur_no = 0;
                    return;
                }
                // 0.5秒の間隔を開ける
                setTimeout(
                    function () {
                        original_video.currentTime = original_time_tables[original_cur_no]["s"];
                        original_video.play();
                    },
                    500
                );
            }
            // 再帰的に実行する
            callback_original_id = requestAnimationFrame(check_play_original_video);
        }

        function play_labeled_video() {
            var selected = tree.getSelected();
            if (selected.length === 0) {
                alert("不安全運転の項目を選択しください。");
                return;
            }

            labeled_time_tables = [];
            for (var i = 0; i < selected.length; i++) {
                if (selected[i]["data"] !== undefined && selected[i]["data"] !== "") {
                    labeled_time_tables = labeled_time_tables.concat(selected[i]["data"]);
                }
            }

            labeled_video.currentTime = labeled_time_tables[labeled_cur_no]["s"];
            labeled_video.play();
            callback_labeled_id = requestAnimationFrame(check_play_labeled_video) ;
        }

        function check_play_labeled_video() {
            if (labeled_video.currentTime >= labeled_time_tables[labeled_cur_no]["e"]) {
                labeled_video.pause();
                labeled_cur_no++;
                if (labeled_cur_no >= labeled_time_tables.length) {
                    cancelAnimationFrame(callback_labeled_id);
                    labeled_cur_no = 0;
                    return;
                }
                // 0.5秒の間隔を開ける
                setTimeout(
                    function () {
                        labeled_video.currentTime = labeled_time_tables[labeled_cur_no]["s"];
                        labeled_video.play();
                    },
                    500
                );
            }
            // 再帰的に実行する
            callback_labeled_id = requestAnimationFrame(check_play_labeled_video);
        }

        /**
         * 解析（テンポラリ)
         */
        function analysis_submit(id) {
            if (!confirm('この動画の解析をしてもいいですか？')) {
                return false;
            }

            show_analy_dialog();

            var data = "csrfmiddlewaretoken=" + $("input[name='csrfmiddlewaretoken']").val();
            $.ajax({
                url: '{% url 'user_movie_analysis_url' %}' + id + "/",
                type: 'POST',
                cache: false,
                data: data,
                dataType: "json",
                success: function (json) {
                    if (json.result === 0) {
                        // リスト更新//
                        //alert("分析が終わりました。");
                        hide_analy_dialog();
                        set_init_tree();
                        tree.refresh();
                    } else {
                        alert("分析に失敗しました。");
                        hide_analy_dialog();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Failed to read content.");
                }
            });
            return false;
        }

        /**
        * dialog表示/非表示
        */
        function show_analy_dialog() {
           $("#analysis_dialog").modal("show");
        }
        function hide_analy_dialog() {
           $("#analysis_dialog").modal("hide");
        }
        //-->
    </script>
{% endblock %}

{% block category_title %}
{% endblock %}

{% block content %}
    {# パンくず作成 #}
    {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "契約会社ポータル" "" %}
        {% breadcrumb "管理機能" "" %}
        {% breadcrumb "動画管理" "" %}
        {% breadcrumb "分析動画表示" "" %}
    {% endblock %}

    <div class="container">
        <div class="row">
            {# 各ページでセットされたパンくずをレンダリングする #}
            {% render_breadcrumbs %}
        </div>

        <div class="card">
            <!--div class="card-header">
            </div-->

            <div class="card-body row">
                <div class="col-2-auto border">
                    {% include 'user/movie_watching/table.html' %}
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header" style="background: #eee;">オリジナル動画 (ファイル名:{{ movie.filename }} 運転日:{{ creation_date_disp }})</div>
                                <div class="card-body">
                                    <video class="video" id="original_video" controls style="width: 100%;" title="{{ movie.unique_filename }}">
                                        <source src="{{ org_url }}">
                                        <p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
                                    </video>
                                </div>
                            </div>
                        <!--/div>
                        <div class="col"-->

                            <div class="form-row" style="margin-top: 10px;">
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="continuous_play" id="continuous_play_chk">
                                            <label class="form-check-label" for="continuous_play_chk" style="font-size: 14px;">
                                                選択箇所を連続再生
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="loop_play" id="loop_play_chk">
                                            <label class="form-check-label" for="loop_play_chk" style="font-size: 14px;">
                                                指定箇所をループ再生
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button type="button" id="original_play_btn" class="btn btn-sm btn-dark" onclick="return play_original_video();"><i class="fa fa-play"></i> オリジナル動画再生</button>
                                </div>
                            </div>

                            {% comment %}
                            {% if labeled_video_enable %}
                            <div class="card">
                                <div class="card-header" style="background: #eee;">ラベル付き動画</div>
                                <div class="card-body">
                                    <video class="video" id="labeled_video" style="width: 100%;" {% if labeled_video_enable %}controls{% endif %}>
                                        {% if labeled_video_enable %}
                                            <source src="{{ labeled_url|safe }}#t=2,6">
                                        {% else %}
                                            <source src="">
                                        {% endif %}
                                        <p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
                                    </video>
                                </div>
                            </div>

                            <div class="form-row" style="margin-top: 10px;">
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="continuous_play" id="continuous_play_chk">
                                            <label class="form-check-label" for="continuous_play_chk" style="font-size: 14px;">
                                                選択箇所を連続再生
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="loop_play" id="loop_play_chk">
                                            <label class="form-check-label" for="loop_play_chk" style="font-size: 14px;">
                                                指定箇所をループ再生
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button type="button" id="labeled_play_btn" class="btn btn-sm btn-dark" onclick="return play_labeled_video();"><i class="fa fa-play"></i> ラベル付き動画再生</button>
                                </div>
                            </div>
                            {% endif %}
                            {% endcomment %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer row align-items-center">
                <div class="col-3">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-dark" onclick="return analysis_submit('{{ movie.id }}');">分析</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-dark" onclick="return false;">結果</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-dark" onclick="return false;">分析結果詳細</button>
                </div>
                <div class="col-4">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-dark" onclick="return false;">削除</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-dark" onclick="location.href='{% url 'user_movie' %}';">戻る</button>
                </div>
            </div>
        </div>

    </div>

    <!-- modal -->
    <div class="modal" id="analysis_dialog" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-ssm">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{% static 'img/loading2.gif' %}">&nbsp;&nbsp;分析中...
                </div>
            </div>
        </div>
    </div>
{% endblock %}
