<table class="table-bordered" style="margin-bottom: 5px;">
    <tr>
        <th class="text-center">カテゴリ</th>
        <th class="text-center">項目名</th>
    </tr>
    <tr>
        <td>
            <select class="form-control-sm" style="font-size: 95%">
                <option>一時停止</option>
                <option>速度</option>
                <option>危険運転</option>
            </select>
        </td>
        <td>
            <select class="form-control-sm" style="font-size: 95%">
                <option>一時停止手前での不停止</option>
                <option>踏切進入前の不停止</option>
                <option>歩道を横切って駐車場等に進入する手前の不停止</option>
            </select>
        </td>
    </tr>
</table>
<table id="list-table" class="table-striped table-condensed table-bordered table-hover small" style="width:100%">
    <thead>
        <tr>
            <th class="text-center text-nowrap">
                カテゴリ
            </th>
            <th class="text-center text-nowrap">
                項目名
            </th>
            <th class="text-center text-nowrap">
                発生日時
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
