{% load static from staticfiles %}

    <div class="container" style="background-color: #e7f0f4; padding: 10px 10px 10px 10px;">
        <div class="row" style="padding: 10px 10px 10px 10px;">
            <div class="col-2">2019/1/29</div>
            <div class="col-1">重要</div>
            <div class="col-7">システムメンテナンスのお知らせ</div>
        </div>
        <div class="row" style="margin: 0 10px 0 10px; border-bottom: thin solid #c4cbcf;">
        </div>
        <div class="row" style="padding: 10px 10px 10px 10px;">
            <div class="col-2">2019/1/4</div>
            <div class="col-1"></div>
            <div class="col-7">お知らせが表示されます。</div>
        </div>
        <div class="row" style="margin: 0 10px 0 10px; border-bottom: thin solid #c4cbcf;">
        </div>
        <div class="row" style="padding: 10px 10px 10px 10px;">
            <div class="col-2">2019/12/11</div>
            <div class="col-1"></div>
            <div class="col-7">お知らせが表示されます。</div>
        </div>
        <div class="row" style="margin: 0 10px 0 10px; border-bottom: thin solid #c4cbcf;">
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <img src="{% static 'img/temp/dashboard.png' %}" width="100%">
            </div>
        </div>
    </div>
