<table id="list-table" class="table table-striped table-condensed table-bordered table-hover small" style="width:100%">
    <thead>
    <tr>
        <th style="width: 5%" class="text-center text-nowrap">
        </th>
        <th class="text-center text-nowrap">
            ログインID
        </th>
        <th class="text-center text-nowrap">
            利用状況
        </th>
        <th class="text-center text-nowrap">
            ユーザーグループ
        </th>
        <th class="text-center text-nowrap">
            氏名
        </th>
        <th class="text-center text-nowrap">
            担当契約会社数
        </th>
        <th class="text-center text-nowrap">
            対面コンサル実施状況
        </th>
        <th class="text-center text-nowrap">
            診断レポート提出状況
        </th>
        <th class="text-center text-nowrap">
            最終ログイン日時
        </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
