{% extends 'user/index_base.html' %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block add_css %}
    {# テーブルページの共通CSS #}
    {% include 'layouts/table_page.css.html' %}
{% endblock %}

{% block js_script %}
    {# テーブルページの共通JS #}
    {% include 'layouts/table_page.js.html' %}

    <script type="text/javascript" charset="UTF-8">
        <!--//
        var table;

        $(document).ready(function () {
            //-------------------------------------
            // load list
            //-------------------------------------
            table = $('#list-table').DataTable({
                scrollX: false,
                stateSave: true,
                serverSide: true,
                "dom": "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-4'i><'col-sm-12 col-md-6'p>>",
                rowId: 'dataId',
                // page related
                "order": [[1, "desc"]],
                // page related
                "columns": [
                    { "data": "checkbox_contents", "searchable": false, "orderable": false },
                    { "data": "username", "orderable": true, "searchable": false },
                    { "data": "group" },
                    { "data": "name" },
                    { "data": "email" },
                    { "data": "created_at" },
                    { "data": "updated_at" },
                ],
                ajax: {
                    // page related
                    "url": "{% url "user_password_list" %}",
                    "type": "POST",
                    "data": function (d) {
                        return table_condition(d);
                    }
                }
            });

            //-------------------------------------
            // イベントセット
            //-------------------------------------

            /**
             * 検索フォームのイベントセット
             */
            // page related
            $('#search_form').submit(function (e) {
                // 左ツリーの検索条件をクリアする（これしないとこちらが優先になる）
                $('#search_user_group').val('');
                // テーブル再読込
                table.ajax.reload();
                return false;
            });

            /**
             * 左ツリーからの検索ボタンのイベントセット
             * data-valの値をチェックして検索実行
            */
            // page related
            $('.treeview').on('click', '.list-group-item', function () {
                var no = $(this).data('val');
                $('#search_user_group').val(no);
                table.ajax.reload();
                // 検索フォームリセット
                document.search_form.reset();
                return false;
            });

        });

        //-------------------------------------
        // テーブルリストの取得条件を切り替える
        //-------------------------------------
        // page related
        function table_condition(d) {
            if ($('#search_user_group').val() !== '') {
                return $('#search_user_form').serializeFormJSON(d);
            } else {
                return $('#search_form').serializeFormJSON(d);
            }
        }

        /**
         * パスワードリセットアクション
         */
        // page related
        function password_reset() {
            var arr = [];
            $('#list-table tbody td input').each(function(i, elem) {
                if ($(this).prop('checked')) {
                    arr.push("selected=" + $(this).val());
                }
            });

            if (arr.length === 0) {
                alert("選択してください。");
                return false;
            }

            if (!confirm('パスワードリセットをしてもいいですか？')) {
                return false;
            }

            var data = arr.join('&');
            data += "&csrfmiddlewaretoken=" + $("input[name='csrfmiddlewaretoken']").val();
            $.ajax({
                url: '{% url 'user_password_reset' %}',
                type: 'POST',
                cache: false,
                data: data,
                dataType: "json",
                success: function (json) {
                    alert("パスワードをリセットしました");
                    table.ajax.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Failed to read content.");
                }
            });

            return false;
        }

        //-->
    </script>
{% endblock %}

{% block category_title %}
{% endblock %}

{% block content %}
    {# パンくず作成 #}
    {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "契約会社ポータル" "" %}
        {% breadcrumb "管理機能" "" %}
        {% breadcrumb "パスワード変更" "" %}
    {% endblock %}

    <div class="container">
        <div class="row">
            {# 各ページでセットされたパンくずをレンダリングする #}
            {% render_breadcrumbs %}
        </div>

        <div class="card">
            <div class="card-header">
                <form class="form-inline" name="search_form" id="search_form" accept-charset="UTF-8">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="id_name">氏名</label>
                        <input type="text" name="search_name" class="form-control use_icon" placeholder="&#xf002;" id="id_name">
                    </div>
                    <button type="submit" class="btn btn-sm btn-dark mb-2">検索</button>
                </form>
            </div>

            <div class="card-body row">
                <div class="col-2-auto border">
                    {% include 'user/password/tree.html' %}
                </div>

                <div class="col">
                    {% include 'user/password/table.html' %}
                </div>
            </div>

            <div class="card-footer text-right">
                ※E-mailが登録されていないとメールは送信されません。<button type="button" class="btn btn-sm btn-dark" onclick="return password_reset();">パスワードリセット</button>
            </div>
        </div>

    </div>

{% endblock %}
